<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.danielpecos.gtm" android:versionCode="1"
	android:versionName="1.0">
	
	<uses-sdk android:minSdkVersion="7" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".activities.ContextActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".activities.ProjectActivity" />

		<activity android:name=".activities.TaskActivity" />
		<activity android:name=".activities.TaskTabInfoActivity" />
		<activity android:name=".activities.TaskTabReminderActivity" />
        <activity android:name=".activities.TaskMapActivity" /> 

		<activity android:name=".activities.SettingsActivity" />
		
		<activity android:name=".activities.GoogleAccountActivity" />
		
		<activity android:name=".activities.AboutActivity" android:theme="@android:style/Theme.Light"/>
		
		<receiver android:name=".receivers.AlarmReceiver" android:process=":remote"/>
		
		<uses-library android:name="com.google.android.maps" />
	</application>

</manifest>